<% content_for(:title, "Welcome") %>

<div class="row welcome">
  <div class="col s6">
    <%= image_tag 'gummy-bears.png', :class => 'welcome-gummy' %>
  </div>
  <div class="col s6">
    <p>Find Gummies</p>
    <h5>Providing Gummi Bear Solutions for the Modern Age</h5>
    <p>Choose Gummi Bear Kingdom for the same reasons disruptive startups do: it’s the best platform for meeting their insatiable gummi bear desires, finding new gummies, and scaling gummi production to meet demand.
    <%= link_to "Explore Our Collection", products_path, :class => 'btn' %>
  </div>

</div>
