/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("purple", "darken-4") !default;
 $secondary-color: color("purple", "darken-1") !default;
 @import 'materialize';

.nav {
  height: 75px;
  padding-top: 20px;
  padding-left: 10px;
  li {
    display: inline;
  }
  .header {
    color: $primary-color;
    font-size: 25px;
    font-weight: bold;
  }
  img {
    height: 100%;
  }
  &-link {
    color: lighten(black, 40%);
    padding-left: 20px;
  }
}

.gummies {
  background-color: #ededed;
  height: 100px;
  border-top: 2px solid darken(#ededed, 10%);
  text-align: center;
  img {
    height: 75%;
    padding-top: 10px;
  }
}

.footer {
  padding-bottom: 100%;
  background-color: $primary-color;
  text-align: center;
  margin-top: -20px;
  h4 {
    color: white;
    padding-top: 15px;
  }
}

.purple-nav {
  background-color: $primary-color;
  color: white;
  .header {
    color: white;
  }
  .nav-link {
    color: white;
  }

}

.extra-nav {
  background-color: $primary-color;
  color: white;
  height: 200px;
  margin-top: -20px;
  h4 {
    margin-left: auto;
    margin-right: auto;
  }
}

.flash {
  color: white;
  text-align: center;
  &-notice {
    background-color: green;
  }
  &-error {
    background: red;
  }
}
