<% content_for(:title, "Products") %>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<p><%= link_to "Add A New Product", new_product_path %></p>
